body{
    //background-color:#FBFCF2;
    background-image: url("../images/haikei.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center
}
.site-title{
    font-color:#595959;
}
.calender{
    background-color:#ffffff;
}
#rNavi{
    background-color:#FBFCF2;
    padding: 0 30px;
}
#rNavi h1 a:link{
    color:#595959;
}
#rNavi h1 a:visited{
    color:#595959;
}
#regionButton{
    margin-top:50px;
}

#calender,#contents{
    margin:30px 0px;
    padding: 0 30px;
}
#calender{
    background-color:#ffffff;
}
#event #contents .row  h1{
    display:none;
    //font-size:1px;
}

#event #contents{
    background-color: #FFF;
    padding-left:50px;
    padding-bottom:20px;
}
#index #contents .row > div{
    //margin-left: 20px;
    margin-top:10px;
    height: 250px;
    //margin-right: 100px;
    //padding-left: 20px;
    color: #FFF;
}
#index #contents .content{
    padding-left:10px;
    padding-top:5px;
    background-color: rgb(108,108,108);
    height:250px;
}
#index #contents  .content a:link{
    color:#FFF;
}
#index #contents  .content a:visited{
    color:#FFF;
}

#index #contents .row > div h2{
    
}
#index #eventList{
    padding:10px;
    background-color: #fff;
}

#index #eventList h3{
}
#rNavi > .nav {
    padding-top:50px;
    margin-left:-10px;
}
#rNavi > .nav li{
    border-bottom: 1px dotted #000;
    padding-left:20px;
}

#rNavi > .nav li a:link{
    color:#000;
    
}
#rNavi > .nav li a:hover{
    background-color: #FFF;
    //background-color: rgbrgb(250,252,238);

}
#rNavi > .nav li a:visited{
    color:#000;
}


.site-main{
    color: #000;
}


#event #contents a:link,a:visited,a:hover,a{
    color:rgb(31,78,248);
}
#eventlist #contents{
    background-color:#fFF;
}

#eventlist #contents a:hover,a:link,a:visited{
    color:#000;
}
#event #contents a:hover,a:link,a:visited{
    color:rgb(31,78,138);

}

#article #contents {
    background-color:#FFF;
}

#article #contents article{
    padding-bottom:20px;
}
#article #contents nav{
    padding-bottom:20px;
}
#article #contents nav h1{
    font-size:20px;
    //display:none;

}
#article #contents .comment-respond{
    padding-bottom:20px;
}
