<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3><a href="#!/event/{{content._id}}" ng-click="goEvent()">{{content.title}}</a></h3>
  </div>
  <div class="modal-body">
    <b>{{content.start | date:'yyyy-MM-dd'}}
    -
    {{content.end | date:'yyyy-MM-dd'}}
    </b>
    <div ng-bind-html="description"></div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Close</button>
    
  </div>
</script>

<div class="container">
  <div id="regionButton">
    <span ng-repeat="r in regionOrder" style="width:300px;background-color:{{region[r].color}};color:{{region[r].font_color}};padding:10px 10px;margin: 10px 0px;">
      <a href ng-click="clickRegion(r,myCalendar1)" style="color:{{region[r].font_color}};">{{r}}</a>
    </span>
    <span style="background-color:#a8d3ff;color:#fff;padding:10px 10px;margin: 10px 0px;">
      <a href ng-click="clickRegion(undefined,myCalendar1)" style="color:#000;">全部</a>
    </span>
  </div>


  <div  id="calender" class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar" style="width:auto;"></div>
</div>
