<div id="index">
  <div id="contents" class="container" style="background-color:#FFF;padding: 25px 15px;" ng-controller="CalendarCtrl">
    <div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar" style="width:auto;opacity:1.0;background:rgba(255,255,255,1.0);"></div>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3><a href="#!/event/{{content._id}}" ng-click="goEvent()">{{content.title}}</a></h3>
  </div>
  <div class="modal-body">
    <b>{{content.start | date:'yyyy-MM-dd'}}
    -
    {{content.end | date:'yyyy-MM-dd'}}
    </b>
    <div ng-bind-html="description"></div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

