<!DOCTYPE html>
<html lang="en" ng-app="calendarDemoApp" id="top">
  <head>
    <title>AngularUI Calendar for AngularJS</title>

    <link rel="stylesheet" href="./lib/venders/bootstrap-css/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="./lib/venders/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" href="./calendarDemo.css" />

    <script src="./lib/venders/jquery/dist/jquery.min.js"></script>
    <script src="./lib/venders/jquery-ui/ui/jquery-ui.js"></script>

    <script src="./lib/venders/angular/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="./lib/venders/fullcalendar/fullcalendar.js"></script>
    <script src="./lib/venders/fullcalendar/gcal.js"></script>
    
    <script src="./lib/venders/angular-ui-calendar/src/calendar.js"></script>    
    <script src="./lib/app/controllers.js"></script>
  </head>

  <body data-spy="scroll">
    <div role="main">
      <div class="container">
        <section id="directives-calendar" ng-controller="CalendarCtrl">
          <div class="page-header">
            <h1>UI-Calendar</h1>
          </div>
          <div class="well">
            <div class="row-fluid">
              <div class="span4">
                <div class="btn-group calTools">
                  <button class="btn" ng-click="changeLang()">
                    {{changeTo}}
                  </button>              
                  <button class="btn" ng-click="addRemoveEventSource(eventSources,eventSource)">
                    Toggle Source
                  </button>
                  <button type="button" class="btn btn-primary" ng-click="addEvent()">
                    Add Event
                  </button>
                </div>

                <ul class="unstyled">
                  <li ng-repeat="e in events">
                    <div class="alert alert-info">
                      <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
                      <b> <input ng-model="e.title"></b> 
                        {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
                      </div>
                    </li>
                  </ul>

                </div>

                <div class="span8">
                  <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                    <h4>{{alertMessage}}</h4>
                  </div>
                  <div class="btn-toolbar">
                    <p class="pull-right lead">Calendar One View Options</p>
                    <div class="btn-group">
                      <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar1)">AgendaDay</button>
                      <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar1)">AgendaWeek</button>
                      <button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Month</button>
                    </div>
                  </div>
                  <div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                </div>
              </div>
            </div>
          </section>
	</div>
      </div>
    </body>
  </html>
