<div id="rNavi" class="col-md-3 col-sm-12">
  <div class="site-title">
    <h1><a href="#!">Hackathon Event Info</a></h1>
  </div>
  <p>Hackathon(ハッカソン)まとめ</p>
  <div class="fb-like" data-href="http://hackathon.style-info.org/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
  
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#!">ホーム</a></li>
    <li><a href="#!/article/">インタビュー</a></li>
    <li><a href="#!/calendar/">イベントカレンダー</a></li>
    <!--
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">全国一覧情報</a>
      <ul class="dropdown-menu">
	<li><a href="#/calendar/北海道">北海道</a></li>
	<li><a href="#/calendar/東北">東北</a></li>
	<li><a href="#/calendar/関東">関東</a></li>
	<li><a href="#/calendar/中部">中部</a></li>
	<li><a href="#/calendar/関西">関西</a></li>
	<li><a href="#/calendar/中国">中国</a></li>
	<li><a href="#/calendar/四国">四国</a></li>
	<li><a href="#/calendar/九州">九州</a></li>
      </ul>
    </li>
    -->
    <li><a href="#!/article/?p=12">お問い合わせ</a></li>
  </ul>
</div>
